<h3 class="text-center">All the Quotes.....</h3>
<div class="row">
    <div class="colmb-8">
<hr>
    <div *ngFor='let quote of quotes, let i = index'>
    
        <div class="card">
            <div class="card-header">
            <strong>Quote number:  {{quote.id}}</strong>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{quote.quote}}.</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{quote.author}}</cite></footer>
              </blockquote>
              <button (click)='toggleDetails(i)' class="btn btn-primary">Show me more</button>
              <app-quote-detail *ngIf='quote.showDetail' [quote]='quote'></app-quote-detail>
            </div>
          </div>
    </div>
    </div>
    </div>
    

